{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'datetimepicker/css/bootstrap-datetimepicker.min.css' %}">
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/transition.js' %}"></script>
    <script src="{% static 'js/collapse.js' %}"></script>
    <script src="{% static 'datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/datepick.js' %}"></script>

    <div class="panel panel-default my-panel-form">
        <div class="panel-heading text-center">{% if item %}Update{% else %}New{% endif %} {{ type }}</div>
        <div class="panel-body">

            <form style="" class="" action="
    {% if item %}
        {% url 'tracker:update_item' type item %}
    {% else %}
        {% url 'tracker:new_item' type %}
    {% endif %}
    " method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.name == 'date_due' %}
                            {{ field.label_tag }}
                            <div class='input-group date' id='datetimepicker1'>
                                {{ field }}
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        {% else %}
                            {{ field.label_tag }} {{ field }}
                        {% endif %}
                    </div>
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">{{ error }}</div>
                    {% endfor %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endfor %}
            <br>
                <input class="btn btn-primary" type="submit" value="Save">
            </form>
        </div>
    </div>

{% endblock %}