{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <script src="{% static "js/vue.js" %}"></script>
    <script src="{% static "js/axios.min.js" %}"></script>
{#    <hr>#}
{#    {% for item in items %}#}
{#        <h3><a href="{% url 'tracker:item' item.type item.id %}">{{ item.title }}</a> {{ item.date_raised }} {{ item.type }}</h3>#}
{#        <hr>#}
{#    {% endfor %}#}

    {% verbatim %}
        <div id="app">
            <div class="panel panel-default">

                <div class="panel-body">
                    <p>
                        <a href="javascript:void(0)" class="btn btn-primary" role="button" v-show="controls.filter.self" @click="controls.filter.self = !controls.filter.self">All items</a>
                        <a href="javascript:void(0)" class="btn btn-primary" role="button" v-show="!controls.filter.self" @click="controls.filter.self = !controls.filter.self">My items</a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Issue')">Issue <span v-if="controls.filter.issue" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Task')">Task <span v-if="controls.filter.task"class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                        <a href="javascript:void(0)" class="btn btn-default" @click="filterBy('type', 'Idea')">Idea <span v-if="controls.filter.idea" class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                       <span class="btn-group" role="group">
                            <button type="button" @click="controls.filter.status='Open'" class="btn btn-default">Open <span v-if="controls.filter.status === 'Open'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" @click="controls.filter.status='In'" class="btn btn-default">In Progress <span v-if="controls.filter.status === 'In'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" @click="controls.filter.status='Closed'" class="btn btn-default">Closed <span v-if="controls.filter.status === 'Closed'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" @click="controls.filter.status='All'" class="btn btn-default">All <span v-if="controls.filter.status === 'All'" class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                        </span>
                    </p>
                </div>
                <div class="panel-footer">Filters</div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th><a href="javascript:void(0)" @click="sortBy('title')">Title</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('date_raised')">Date Raised</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('date_due')">Date Due</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('type')">Type</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('status')">Status</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('raised_user')">Raised by</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('assigned_user')">Assigned to</a></th>
                        <th><a href="javascript:void(0)" @click="sortBy('location')">Location</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in items" v-if="!item.hide && (controls.filter.self || item.raised_by === user) && filterStatus(item.status)">
                        <td><a :href="item.url">{{ item.title }}</a></td>
                        <td>{{ item.date_raised }}</td>
                        <td>{{ item.date_due }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.status }}</td>
                        <td>{{ item.raised_user }}</td>
                        <td>{{ item.assigned_user }}</td>
                        <td>{{ item.location }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endverbatim %}
    <script src="{% static "js/items.js" %}"></script>
{% endblock %}

